@using DropGunAcademy.Models.Aulas
@model AulasModel

<div class="text-center">
    <table class="table table-hover table-light">
        <a type="button" class="btn btn-light float-end" asp-controller="Aulas" asp-action="">Adicionar Aula</a>
        <thead>
            <tr>
                <th>ID aula</th>
                <th>Aula de aviação</th>
                <th>Data da aula</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aula in Model.Aulas)
            {
                <tr>
                    <td>@aula.Id</td>
                    <td>@aula.NomeAula</td>
                    <td>@aula.DataAula</td>
                </tr>
            }
        </tbody>
    </table>
</div>