
<div class="text-center ">
    <h2>Bem-vindo à Drop Gun Academy!</h2>
    <br>
    Sua jornada nos céus começa aqui, em Blumenau!

    Na Drop Gun Academy, oferecemos treinamentos de alta qualidade para futuros pilotos, com uma infraestrutura moderna e instrutores experientes, tudo para garantir que você alcance seu sonho de voar com segurança e excelência. Se você está pronto para decolar, nossa equipe está pronta para guiá-lo em cada etapa do seu caminho.
    </p>
    <br>
    <h4>Entre em contato conosco para saber mais:</h4>
    <br>
    E-mail: contato@dropgunacademy.com
    <br>
    Telefone: (47) 99999-1234
    <br>
    <h2>Venha voar alto com a Drop Gun Academy!</h2>
    </p>
</div>