@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="images/logo.png" alt="Logo" />
    <h1 class="display-5">Sua escola de aviação favorita!</h1>
    <br>
    <p>
        <b>Bem-vindo à Drop Gun Academy!</b>
        <br>
        Sua jornada nos céus começa aqui, em Blumenau!

        Na Drop Gun Academy, oferecemos treinamentos de alta qualidade para futuros pilotos, com uma infraestrutura moderna e instrutores experientes, tudo para garantir que você alcance seu sonho de voar com segurança e excelência. Se você está pronto para decolar, nossa equipe está pronta para guiá-lo em cada etapa do seu caminho.
        <br>
        <b>Entre em contato conosco para saber mais:</b>
        <br>
        E-mail: contato@dropgunacademy.com
        <br>
        Telefone: (47) 99999-1234
        <br>
        <b>Venha voar alto com a Drop Gun Academy!</b>
    </p>
</div>
